.cor-azul {
    background-color: #dda3a3;
}

hr {
    color: rgb(236, 82, 82); 
    border-style:solid;
    margin-left: 20px;

    border-width:5px;
    ;
}

.mtp {
    margin-top: 20px;
    background-color: red;
}